# Dependencies
node_modules/
package-lock.json

# Database files
*.sqlite
*.db

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db
*.log

# IDE files
.vscode/
.idea/
*.swp

# Build files (React)
frontend/build/
frontend/dist/

# Testing
coverage/
backend/shared-db/database.sqlite
frontend/node_modules
frontend/package-lock.json

